@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h3 class="display-4">Bem-vindo!</h3>
    <p>Sistema de cadastro e consulta de clientes</p>

    <img src="~/images/wallpaper.jpg" width="900" />
</div>
